html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-select {
    padding-bottom: .225rem;
}

.h-70px{
    height: 70px;
}

#Books_processing{
    float: right;
    width: 650px;
}